/************ VARIABLES ************/

$light-grey-color : rgba(200,200,200,1);
$grey-color : rgba(150,150,150,1);
$dark-grey-color : #424041;
$white-color : rgba(255,255,255,0.9);
$blue-color : rgba(27, 79, 114,1);
$black-color : #000;
$light-black-color : rgba(0,0,0,0.5);
$left-padding : 12rem;